@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&display=swap');

:root {
  --nav-hover-link-color: #035E7B;
  --body-background-color: #EFF1C5;
  --header-background-color: #EFF1C5;
  --logo-box-border-color: #EFF1C5;
  --heading-color: #003362;
}

#content {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f1f1f1;
  color: #035E7B;
}

a:hover {
  color: var(--nav-hover-link-color);
  text-decoration: underline;
  color: #E3E7AF;
}

.banner-box img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1;
}

.banner-box {
  display: grid;
  grid-template-columns: 1fr;
}

.banner-box h1 {
  background-color: #035E7B;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  grid-column: 1;
  grid-row: 1;
  height: 30px;
  text-align: center;
  justify-self: center;
}

.logo-box {
  background-color: white;
  border: 0.25em solid var(--logo-box-border-color);
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  color: #035E7B;
}

.home-headline-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.home-paragraph-1 {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  font-weight: bold;
}

.home-right-img {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.home-headline-2 {
  grid-column: 3 / 6;
  grid-row: 4 / 5;
}

.home-paragraph-2 {
  grid-column: 3 / 7;
  grid-row: 5 / 7;
  font-weight: bold;
}

.home-left-img {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}

.home-paragraph-3 {
  margin: 1em;
  padding: 0;
}

div.banner-box {
  padding: 0 0 1em;
}

header {
  align-items: center;
  display: grid;
  font-weight: bold;
  grid-template-columns: 110px auto;
  background-color: var(--header-background-color);
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  background-color: var(--nav-hover-link-color);
  padding: 0;
  justify-content: space-around;
}

li {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  margin: 0;
}

body {
  background-color: var(--body-background-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
  margin: 1em;
}

a {
  color: #ffffff;
  font-size: 1.1em;
  padding: 1em;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2em;
  font-family: 'Merriweather', serif;
  color: #035E7B;
  margin: 0.5em 0 0 0;
  padding: 0 0.25em;
}

p {
  padding: 0 1em 0 1em;
  margin: 0;
}

.home-headline-3 {
  text-align: center;
}

@media screen and (max-width: 550px) {
  /* beginning of media query */
  .home-grid,
  .rivers-grid,
  nav ul,
  .banner-box {
    display: block;
  }
  /* end of media query */
}

.social img {
  width: 40px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

footer {
  background-color: #A2A77F;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer p {
  font-size: 1.2em;
  color: #fff;
}

footer p a:hover {
  text-decoration: underline;
}

.social img {
  width: 40px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social img:hover {
  transform: scale(1.2);
}

.body-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
  }
  
.image-container {
display: flex;
justify-content: space-between;
margin-bottom: 1em;
}

.image-container img {
width: 30%; 
}

.headline-container {
display: flex;
justify-content: space-around;
margin: 0 auto;
max-width: 600px; 
}

.headline-left,
.headline-right,
.paragraph-left,
.paragraph-right {
    width: 70%;
}

#aboutus .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

#aboutus .item {
  text-align: center;
  margin: 0 1em; 
}

#aboutus .item img {
  width: 100%;
}

#aboutus .headline {
  font-size: 1.5em;
  color: #035E7B;
  margin-top: 0.5em;
}

#aboutus .paragraph {
  color: #035E7B;
  max-width: 600px; 
  margin: 0 auto;
}
