@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}

#background {
  height: 725px;
}

body {
  background-color: #eaecec;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #6f7364;
  padding: 10px 20px;
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: black;
  color: #d9c2a3;
  
}

.book,
.join,
.book:hover,
.join:hover {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 50px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.book:hover,
.join:hover {
  background-color: #cc7700;
  
}

#background,
.msg,
.rivers-headline-2
footer {
  background-color: #6f7364;
  color: #fff;
}

.logo,
.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}

nav a,
.book,
.join,
footer a {
  text-decoration: none;
  color: #000000;
  color: #fff
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}

.social img {
  width: 40px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social img:hover {
  transform: scale(1.2);
}

nav a {
  padding: 35px;
}

.book,
.join {
  padding: 15px 30px;
  margin-top: 50px;
}

.icon {
  padding-top: 10px;
}

.msg {
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}

footer {
  background-color: #6f7364;
  padding: 25px 50px;
  margin-top: 200px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-img,
.mountains {
  width: 100%;
  box-shadow: 5px 5px 10px #6f7364;
  transition: transform .5s;
}

.card-img:hover,
.mountains:hover {
  opacity: .6;
  transform: scale(1.1);
}

.home-title {
  margin-top: 10px;
}

.book,
.join {
  margin-top: 50px;
}

.rivers-card,
.camping-card,
.rapids-card,
#background {
  width: 100%;
}

.book,
.join {
  border-radius: 5px;
}

.card-img {
  border: 10px solid #d9c2a3;
}

main section img {
  box-sizing: border-box;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
}

#hero-msg{
  grid-column: 2/3;
  grid-row:1/2;
  margin-top: 100px;
  font-family: 'Rock Salt';
  
}
#hero-msg h1, #hero-msg h4{
  text-align: center;
  color:white;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
}

.rivers-card{
  grid-column:2/4;
  grid-row:2/3;
}
.camping-card{
  grid-column: 5/7;
  grid-row:2/3;
}
.rapids-card{
  grid-column: 8/10;
  grid-row:2/3;
}
#background{
  grid-column:1/11;
  grid-row:4/9;
}

.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
}

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}

.h1river {
  text-align: center;
  font-size: 2em;
  font-family: 'Rock Salt', serif;
  font-weight: 900;
  color: #6f7364;
  
}

.rivers-title-1 {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Rock Salt', serif;
  text-align: center;
  
  
}

.rivers-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.rivers-headline-1 {
  font-size: 1.1em;
  font-weight: bold;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: left;
  padding: 35px;
  box-shadow: 5px 5px 10px #6f7364;
  background-color: #6f7364;
}

.rivers-paragraph-1 {
  grid-column: 3 / 6;
  grid-row: 2 / 4;
}

.rivers-img-1 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  align-self: center;
}

.rivers-headline-2 {
  font-size: 1.1em;
  font-weight: bold;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  text-align: left;
  padding: 35px;
  box-shadow: 5px 5px 10px #6f7364;
  background-color: #6f7364;
}

.rivers-paragraph-2 {
  grid-column: 1 / 4;
  grid-row: 5 / 7;
}

.rivers-img-2 {
  grid-column: 4 / 6;
  grid-row: 5 / 7;
  align-self: center;
}


@media screen and (max-width: 550px) { 
    .home-grid, .rivers-grid, nav ul, .hero-box   {
    display: block;
  }
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}
label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: left;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  
  /* Match form field borders */
  border: 1px solid #999;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

button{
  margin-left: 1.5em;
}
#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;      
}
.moveDown {
  margin-top: 3em;
}